<h1>教科一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>クラス名</th>
      <th>教科名</th>
      <th>担当教員</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.klass.name %></td>
        <td><%= subject.name %></td>
        <td><%= subject.teacher_name %></td>
        <td><%= link_to '詳細', admin_school_klass_subject_path(@school, @klass, subject) %></td>
        <td><%= link_to '編集', edit_admin_school_klass_subject_path(@school, @klass, subject) %></td>
        <td><%= link_to '削除', admin_school_klass_subject_path(@school, @klass, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '教科を登録する', new_admin_school_klass_subject_path, class: 'btn btn-primary' %>
