<p>
  <strong>Klass:</strong>
  <%= @subject.klass.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @subject.teacher_name %>
</p>

<%= link_to 'Edit', edit_admin_school_klass_subject_path(@school, @klass, @subject) %> |
<%= link_to 'Back', admin_school_klass_subjects_path(@school, @klass) %>
