<h2>ログイン</h2>

<div class="users-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true ,class: 'form-control'%>

    <%= f.label "パスワード" %>
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>

  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label "記憶する" %>
  <% end -%>

  <div>
    <%= f.submit "ログイン", class: 'btn btn-default' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>