<h1><%= @school.name %></h1>

<table class='table table-borderd table-hover'>
  <thead>
    <tr>
      <th>クラス名</th>
    </tr>
  </thead>

  <tbody>
    <% @school.klasses.each do |klass| %>
      <tr>
        <td><%= klass.name %></td>
        <td><%= link_to ' 確認', admin_school_klass_path(params[:school_id], klass) %></td>
        <td><%= link_to '編集', edit_admin_school_klass_path(params[:school_id], klass) %></td>
        <td><%= link_to '削除', admin_school_klass_path(params[:school_id], klass), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいクラスの登録', new_admin_school_klass_path %>
