<p>
  <strong>学校名:</strong>
  <%= @klass.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @klass.school_id %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @klass.password %>
</p>

<%= link_to '編集', edit_admin_school_klass_path(params[:school_id], @klass) %> |
<%= link_to '戻る', admin_school_klasses_path %><br>
<%= link_to '教科を登録する', admin_school_klass_subjects_path(@school, @klass)  %>
