<p>
  <strong>Name:</strong>
  <%= @klass.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @klass.school_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @klass.password %>
</p>

<%= link_to 'Edit', edit_admin_school_klass_path(params[:school_id], @klass) %> |
<%= link_to 'Back', admin_school_klasses_path %><br>
<%= link_to '教科を設定する', admin_school_klass_subjects_path(@school, @klass)  %>
