<ol class="breadcrumb">
  <%= render_breadcrumbs tag: 'li', separator: '' %>
</ol>

<div class="col-sm-8 col-sm-offset-2">
  <div class="well">
    <%= form_tag(registrations_authenticate_path, method: :post, class: 'form-inline') do %>
      <fieldset>
        <legend><%= "#{@klass.name}にログインする" %></legend>
        <div class="form-group">
          <%= password_field_tag :password, '', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag '認証', class: 'btn btn-primary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
