<div class="page-header">
  <h1>成績登録</h1>
</div>

<%= form_tag('/records/update', method: :patch) do %>

  <table class="table table-bordered">
    <thead>
      <h2>教科一覧</h2>
    </thead>

    <tbody>
      <tr>
        <th>教科名</th>
        <th>担当教員</th>
        <th>得点</th>
      </tr>

      <% current_user.klass.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.teacher_name %></td>
          <td><%= text_field_tag 'test_scores[]', subject.records.find_by(user: current_user).test_score %></td>
        </tr>
        <%= hidden_field_tag 'subject_ids[]', subject.id %>
      <% end %>

    </tbody>
  </table>

  <%= submit_tag '更新する' %>
<% end %>

<%= link_to '戻る', records_path %>
