<div class="page-header">
  <h1>成績登録</h1>
</div>

<%= form_tag('/records/update', method: :patch) do %>

  <table class="table table-bordered">
    <thead>
      <h2>教科一覧</h2>
    </thead>

    <tbody>
      <tr>
        <th>教科名</th>
        <th>担当教員</th>
        <th>前期中間</th>
        <th>前期末</th>
        <th>後期中間</th>
        <th>学年末</th>
      </tr>

      <% current_user.klass.subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.teacher_name %></td>
          <% 4.times do |term| %>
            <td><%= text_field_tag 'test_scores[]', subject.records.find_by(user: current_user, term: term).test_score %></td>
            <%= hidden_field_tag 'record_ids[]', subject.records.find_by(user: current_user, term: term).id %>
          <% end %>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= submit_tag '更新する' %>
<% end %>

<%= link_to '戻る', records_path %>
