<div class="page-header">
  <h1>成績登録</h1>
</div>

<%= form_tag('/records/update', method: :patch) do %>

  <table class="table table-hover">
    <thead>
      <h2>教科一覧</h2>
    </thead>

    <tbody>
      <tr>
        <th>教科名</th>
        <th>担当教員</th>
        <th><%= test_title(@term)%></th>
      </tr>

      <% @records.each do |record| %>
        <tr>
          <td><%= record.subject.name %></td>
          <td><%= record.subject.teacher_name %></td>
          <td><%= text_field_tag 'test_scores[]', record.test_score %></td>
        </tr>
        <%= hidden_field_tag 'record_ids[]', record.id %>
      <% end %>

    </tbody>
  </table>

  <%= submit_tag '更新する', class: 'btn btn-primary' %>
<% end %>

<%= link_to '戻る', records_path %>
