<!DOCTYPE html>
<html>
<head>
  <title>SchoolRecordManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'SchoolRecordManager', user_signed_in? ? home_path : root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-in"></i> ログアウト
              <% end %>
            </li>
              <% if current_user.staff? %>
                <li>
                  <%= link_to admin_dashboard_path do %>
                    <i class="fa fa-cog"></i> ダッシュボード
                  <% end %>
                </li>
              <% end %>
            <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i> ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
          			<i class="fa fa-users"></i> 新規会員登録
          		<% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">

   <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <%= notice %>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <%= alert %>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>

  <%= yield %>

</div>

<footer>
  <div class="footer-wrapper">
    <address>
      <p class="copyright">&copy; 高知高専 谷澤研究室 前期セミナーグループ</p>
    </address>
  </div>
</footer>

</body>
</html>
