<!DOCTYPE html>
<html>
<head>
  <title>SchoolRecordManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'SchoolRecordManager', user_signed_in? ? home_path : root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-bars"></i>MENU</a>
            <ul class="dropdown-menu" role="menu">
              <% if user_signed_in? %>
              <li>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              </li>
                <% if current_user.staff? %>
                  <li class="divider"></li>
                  <li>
                    <%= link_to 'ダッシュボード', dashboard_path %>
                  </li>
                <% end %>
              <% else %>
              <li>
                <%= link_to 'ログイン', new_user_session_path %>
              </li>
              <li>
                <%= link_to '新規登録', new_user_registration_path %>
              </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">

   <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <%= notice %>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <%= alert %>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
