<!DOCTYPE html>
<html>
<head>
  <title>SchoolRecordManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<header>
  <nav class="navbar navbar-default" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'SchoolRecordManager', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to home_path do %>
                <i class="fa fa-home">ホーム</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-in">ログアウト</i>
              <% end %>
            </li>
              <% if current_user.staff? %>
                <li>
                  <%= link_to admin_dashboard_path do %>
                    <i class="fa fa-cog">ダッシュボード</i>
                  <% end %>
                </li>
              <% end %>
            <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in">ログイン</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
          			<i class="fa fa-users">新規会員登録</i>
          		<% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<%= yield %>

<footer>
  <div class="footer-wrapper">
    <address>
      <p class="copyright">&copy; 高知高専 谷澤研究室 前期セミナーグループ</p>
    </address>
  </div>
</footer>

</body>
</html>
